@use "./mixins.scss" as mixins;

/* 定义全局遍历变量 */

// 字体从粗细
$weights: 100, 200, 300, 400, 500, 600, 700;

// 颜色
$colors: 111, 222, 333, 555, 666, 777, 888, 999, aaa, bbb, ccc, ddd, eee, fff, f00, "0f0", "00f", f0f, c12f38;

// 边框颜色
$borderColor: var(--el-input-border-color, var(--el-border-color));

// flex
$flexs: 1, 2, 3, 4, 5, 6, 7, 8, 9;

@for $i from 0 through 300 {
  /* **************************** 宽高 *****************************/

  .w-#{$i} {
    width: #{$i}px;
  }
  .h-#{$i} {
    height: #{$i}px;
  }
  .lh-#{$i} {
    line-height: #{$i}px;
  }

  /* **************************** 宽高(权重) *****************************/
  .wi-#{$i} {
    width: #{$i}px !important;
  }
  .hi-#{$i} {
    height: #{$i}px !important;
  }

  /* **************************** 宽高(最大小) *****************************/
  .maxw-#{$i} {
    max-width: #{$i}px;
  }
  .maxh-#{$i} {
    max-height: #{$i}px;
  }
  .minw-#{$i} {
    min-width: #{$i}px;
  }
  .minh-#{$i} {
    min-height: #{$i}px;
  }

  /* **************************** 百分比 *****************************/
  .ui-w-#{$i} {
    width: $i * 1%;
  }
  .ui-h-#{$i} {
    height: $i * 1%;
  }
  .ui-vw-#{$i} {
    width: $i * 1vw;
  }
  .ui-vh-#{$i} {
    height: $i * 1vh;
  }

  /* **************************** 字体 *****************************/

  .fz-#{$i} {
    font-size: #{$i}px;
  }
  /* **************************** 字体 *****************************/

  .ls-#{$i} {
    letter-spacing: #{$i}px;
  }
  .ti-#{$i} {
    text-indent: #{$i}px;
  }

  /* **************************** 圆角 *****************************/

  .br-#{$i} {
    border-radius: #{$i}px;
  }

  /* **************************** margin间距 *****************************/

  .m-#{$i} {
    margin: #{$i}px;
  }

  .mt-#{$i} {
    margin-top: #{$i}px;
  }

  .mr-#{$i} {
    margin-right: #{$i}px;
  }

  .ml-#{$i} {
    margin-left: #{$i}px;
  }

  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }

  /* **************************** padding间距 *****************************/

  .p-#{$i} {
    padding: #{$i}px;
  }

  .pt-#{$i} {
    padding-top: #{$i}px;
  }

  .pr-#{$i} {
    padding-right: #{$i}px;
  }

  .pl-#{$i} {
    padding-left: #{$i}px;
  }

  .pb-#{$i} {
    padding-bottom: #{$i}px;
  }
}

/* **************************** 颜色 *****************************/
@each $i in $colors {
  // ---- 字体色 ----
  .color-#{$i} {
    color: #{"#" + $i};
  }
  // ---- 背景色 ----
  .bg-#{$i} {
    background-color: #{"#" + $i};
  }
  // ---- 边框颜色 ----
  .bd-#{$i} {
    border: 1px solid #{"#" + $i};
  }
  .bd-b-#{$i} {
    border-bottom: 1px solid #{"#" + $i};
  }

  .bd-t-#{$i} {
    border-top: 1px solid #{"#" + $i};
  }
}

/* **************************** 粗细 *****************************/

@each $i in $weights {
  .fw-#{$i} {
    font-weight: #{$i};
  }
}

/* **************************** flex  *****************************/
@each $i in $flexs {
  // flex 0.1-0.9
  .flexf-#{$i} {
    flex: #{"0." + $i};
  }

  // flex1-9
  .flex-#{$i} {
    flex: #{$i};
  }
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-shrink {
  /* flex布局 避免空间不足挤压自身 */
  flex-shrink: 0;
}

.flex-wrap {
  flex-wrap: wrap;
}

.just-start {
  justify-content: flex-start;
}

.just-center {
  justify-content: center;
}

.just-between {
  justify-content: space-between;
}

.just-end {
  justify-content: flex-end;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-self-end {
  align-self: flex-end;
}

.ui-p-r {
  position: relative;
}

.ui-p-a {
  position: absolute;
}

.ui-ovy-a {
  overflow-y: auto;
}

.ui-ovx-a {
  overflow-x: auto;
}

.ui-ov-h {
  overflow: hidden;
}

.ui-va-m {
  vertical-align: middle;
}

.ui-va-s {
  vertical-align: sub;
}

.ui-va-tb {
  vertical-align: text-bottom;
}

.ui-va-tt {
  vertical-align: text-top;
}

.ui-ta-c {
  text-align: center;
}

.ui-ta-r {
  text-align: right;
}

.ui-ta-l {
  text-align: left;
}

.ui-d-b {
  display: block;
}

.ui-d-i {
  display: inline;
}

.ui-d-ib {
  display: inline-block;
}
.ui-td-u {
  text-decoration: underline;
}

.box-border {
  box-sizing: border-box;
}

.ellipsis {
  @include mixins.ellipsis();
}

/** 超过2行省略 */
.ellipsis-2 {
  @include mixins.ellipsis-row(2);
}

.ellipsis-3 {
  @include mixins.ellipsis-row(3);
}

.ellipsis-col {
  display: -webkit-box;
  overflow: hidden;
  text-align: justify;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
}

.no-select {
  user-select: none;
}

.no-wrap {
  white-space: nowrap;
}

.pointer {
  cursor: pointer;
}

pre {
  word-wrap: break-word;
  white-space: pre;
}
