<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>打印设计</title>
    <link rel="shortcut icon" href="./assets/image/favicon.png" />
    <link rel="stylesheet" href="./assets/fonts/bootstrap-icons.css" />
    <link rel="stylesheet" href="./lib/element-plus.css" />
    <link rel="stylesheet" href="./lib/wangEdit/wangeditor@5.1.23.css" />
    <link rel="stylesheet" href="./assets/css/hiprint.css" />
    <link rel="stylesheet" href="./assets/css/print-lock.css" />
    <link rel="stylesheet" href="./assets/css/design.css" />
    <script src="./lib/vue3.prod.js"></script>
    <script src="./lib/wangEdit/wangeditor@5.1.23.js"></script>
    <script src="./lib/element-plus.js"></script>
    <script src="./lib/echarts.min.js"></script>

    <script src="./plugins/jquery@1.11.3.min.js"></script>
    <script src="./polyfill.min.js"></script>
    <script src="./plugins/jquery.minicolors.min.js"></script>
    <script src="./plugins/JsBarcode.all.min.js"></script>
    <script src="./plugins/qrcode.js"></script>
    <script src="./utils/tool.js"></script>
    <script src="./utils/watermark.js"></script>
    <script src="./plugins/socket.io.js"></script>
    <script src="./hiprint.config.js"></script>
    <script src="./hiprint.bundle.js"></script>
    <script src="./utils/config-etype-provider.js"></script>
    <script src="./plugins/jquery.hiwprint.js"></script>
    <script src="./plugins/jspdf/canvas2image.js"></script>
    <script src="./plugins/jspdf/canvg.min.js"></script>
    <script src="./plugins/jspdf/html2canvas.min.js"></script>
    <script src="./plugins/jspdf/jspdf.min.js"></script>

    <script src="./utils/design.js"></script>
    <script src="./utils/template.js"></script>
    <script src="./utils/component.js" defer></script>
  </head>

  <body>
    <div id="app"></div>

    <script type="text/html" id="designTemplate">
      <el-container class="w-100 h-100">
        <el-header style="height: 50px; line-height: 50px; padding: 0 10px">
          <MyHeader ref="tableRef" @updateTemplate="onUpdateTemplate" />
        </el-header>
        <el-container class="h-100 ui-ov-h border" style="margin: 0 10px">
          <el-aside width="200px" class="ui-ovy-a p-10">
            <div class="rect-printElement-types hiprintEpContainer">
              <!-- 拖拽列表 -->
              <ul class="hiprint-printElement-type no-select">
                <li v-for="item in elements">
                  <span class="title">{{item.title}}</span>
                  <ul>
                    <li v-for="cell in item.children">
                      <a class="ep-draggable-item" :tid="cell.tid">
                        <span class="glyphicon" :class="cell.icon"></span>
                        <span class="glyphicon-class" title="文本">{{cell.title}}</span>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </el-aside>
          <el-main class="h-100 border-left border-right flex-col" style="padding: 0">
            <div class="tool-buttons" style="margin: 8px 0 5px 8px">
              <!-- 工具按钮 -->
              <MyTool ref="toolRef" @resetDesign="onResetDesign" @updateDesign="onUpdateDesign" @updateLiveView="onUpdateLiveView">
            </div>
            <div class="h-100 flex-1 flex print-designer">
              <!-- 设计区域 -->
              <div class="flex-1 print-scroll-wrap">
                <div id="designer"></div>
              </div>
              <div id="ElementLayer"></div>
            </div>
          </el-main>
          <el-aside width="15%" class="border-right" style="min-width: 300px; overflow-y: auto">
            <!-- 属性配置 -->
            <div id="PrintOptionSetting">
              <div class="no-wrap ui-ta-c color-ccc" style="margin-top: 143px;">属性配置区域</div>
            </div>
          </el-aside>
          <el-aside class="flex-col printViewArea" :style="{width: designData.livePreview? '30%' : 0, transition: 'width .5s ease-in-out', marginLeft: designData.livePreview ? 0 : '-1px'}">
            <div class="border-bottom prviewTitle">实时预览</div>
            <div class="flex-1 ui-ovy-a m-10">
              <div class="prevViewDiv" id="printLiveView"></div>
            </div>
          </el-aside>
        </el-container>
        <el-footer class="footer">
          <div class="flex-between">
            <span>模板名称: {{templateName}}</span>
            <span> HiPrint Designer V2.5.4</span>
          </div>
        </el-footer>

        <el-dialog v-model="editVisible" title="富文本编辑" draggable width="98%" top="4vh">
          <WangEditor @create="onCreateEditor" />
          <template #footer>
            <div class="dialog-footer">
              <el-button @click="editVisible = false">取消</el-button>
              <el-button type="primary" @click="onConfirm">确定</el-button>
            </div>
          </template>
        </el-dialog>
      </el-container>
    </script>
    <script type="text/html" id="headerTemplate">
      <div class="flex-between">
        <div class="fz-22 color-blue">打印设计</div>
        <span class="no-select">
          <template v-for="item in iconList" :key="item.title">
            <span v-if="!item.hide" @click="item.click" :title="item.title" class="fz-22 pointer mr-10" >{{item.icon}}</span>
          </template>
          <el-popover class="box-item" :title="`模板列表(${tableData.length})`" placement="bottom-end" width="360px" trigger="click">
            <template #reference>
              <span title="模板列表" class="fz-22 pointer color-f60">Ⓜ️</span>
            </template>
            <el-table :data="tableData" row-key="name" @current-change="onCurrentChange" style="width: 100%" size="small" max-height="300" border highlight-current-row empty-text="暂无数据">
              <el-table-column label="模板名称" prop="name" show-overflow-tooltip />
              <el-table-column label="创建时间" prop="createDate" width="140" />
              <el-table-column label="操作"  width="80">
                <template #default="{ row }">
                  <el-button type="danger" size="small" @click.stop="onDelete(row)">删除</el-button>
                </el-table-column>
            </el-table>
          </el-popover>
        </span>
      </div>
      <el-dialog v-model="docVisible" title="打印配置" width="50%" top="5vh">
        <el-input v-model="docText" spellcheck="false" type="textarea" style="width: 100%;line-height: 22px;" rows="20" readonly placeholder="暂无数据" />
        <template #footer>
          <div class="dialog-footer">
            <el-button @click="docVisible = false">取消</el-button>
          </div>
        </template>
      </el-dialog>
    </script>
    <script type="text/html" id="toolTemplate">
      <div class="buttons">
        <span v-for="item in toolButtons">
          <span v-if="['widthInput', 'heightInput'].includes(item.action) ">
            <el-input
              v-model.number="formData[item.action]"
              :placeholder="item.action === 'widthInput' ? '宽/mm' : '高/mm'"
              size="small"
              class="mb-8 mr-8"
              style="width: 50px"
            />
          </span>
          <span v-else-if="['scaleInput'].includes(item.action) ">
            <el-popover class="box-item" placement="bottom" width="120px" trigger="hover">
              <template #reference>
                <el-input
                  v-model.number="formData.scale"
                  placeholder="100%"
                  readonly
                  size="small"
                  :title="item.title"
                  @click="Design.onResetScale"
                  class="scale-input mb-8 mr-8"
                  style="width: 50px;"
                />
              </template>
              <el-slider
                v-model="scaleValue"
                :show-tooltip="false"
                :step="drawDef.step"
                :min="drawDef.min"
                :max="drawDef.max"
                :debounce="0"
                size="small"
                @input="setScale"
              />
              <div class="drag-panel">点击拖拽画布</div>
            </el-popover>
          </span>
          <el-button
            v-else
            size="small"
            :title="item.title"
            :type="getType(item)"
            @click="onOperate(item)"
            class="mb-8 mr-8"
            style="margin-left: auto; margin-right: 8px"
          >
            <template #default="row">
              <span v-if="item.action !== 'more'">{{item.name}}</span>
              <el-dropdown v-else>
                <span :style="{  color: isMore ? '#fff' : '', outline: 'none'}">
                  <span class="ui-va-t">{{item.name}} </span>
                  <el-icon class="el-icon--right">
                    <svg data-v-ec522aeb="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                      <path
                        fill="currentColor"
                        d="M831.872 340.864 512 652.672 192.128 340.864a30.592 30.592 0 0 0-42.752 0 29.12 29.12 0 0 0 0 41.6L489.664 714.24a32 32 0 0 0 44.672 0l340.288-331.712a29.12 29.12 0 0 0 0-41.728 30.592 30.592 0 0 0-42.752 0z"
                      ></path>
                    </svg>
                  </el-icon>
                </span>
                <template #dropdown>
                  <el-dropdown-menu>
                    <el-dropdown-item
                      v-for="cell in item.children"
                      :key="cell.name"
                      :divided="cell.divided"
                      :title="cell.title"
                      :style="{ color: active === cell.action ? '#fff' : '', background: active === cell.action ? '#95d475' : '' }"
                      @click="onOperate(cell, true)"
                    >
                      {{ cell.name }}
                    </el-dropdown-item>
                  </el-dropdown-menu>
                </template>
              </el-dropdown>
            </template>
          </el-button>
        </span>
      </div>
      <div class="PrintPagination"></div>
      <!-- 打印预览 -->
      <el-dialog v-model="printVisible" title="打印预览" draggable width="fit-content" top="5vh">
        <div class="dialog-body" style="max-height: 75vh; overflow-y: auto">
          <div class="prevViewDiv" id="printView"></div>
        </div>
        <template #footer>
          <div class="dialog-footer">
            <el-button @click="printVisible = false">取消</el-button>
            <el-button type="success" @click="Design.onExportPdf">PDF</el-button>
            <el-button type="primary" @click="Design.onPrint">打印</el-button>
          </div>
        </template>
      </el-dialog>

      <!-- 配置弹窗 -->
      <el-dialog v-model="dialogVisible" title="模板配置" draggable width="40%" top="4vh">
        <el-form :model="tplForm" label-width="0px" inline>
          <el-form-item style="margin-bottom: 0px">
            <el-checkbox v-model="tplForm.compress" @change="(v)=>onTplChange('compress', v)">压缩配置</el-checkbox>
          </el-form-item>
          <el-form-item style="margin-bottom: 0px">
            <el-checkbox v-model="tplForm.disabled" @change="(v)=>onTplChange('disabled', v)">禁用拖拽</el-checkbox>
          </el-form-item>
          <div>
            <el-form-item style="width: 100%">
              <el-input
                v-model="tplForm.content"
                type="textarea"
                style="width: 100%"
                input-style="height: calc(100vh - 266px)"
                resize="none"
                placeholder="暂无数据"
              />
            </el-form-item>
          </div>
        </el-form>
        <template #footer>
          <div class="dialog-footer">
            <el-button @click="dialogVisible = false">关闭</el-button>
            <el-button type="warning" @click="onSave">保存</el-button>
            <el-button type="success" @click="onRewirite">修改</el-button>
            <el-button type="primary" @click="onCopy">复制</el-button>
          </div>
        </template>
      </el-dialog>
    </script>

    <script src="./main.js"></script>
  </body>
</html>
