:root {
  /** color */
  --bgColor: #fff;
  --color: #333;
  --primary: #1e80ff;
  --sliderColor: #5a7e9d;

  /** paper */
  --gridLine: rgba(0, 0, 0, 0.1);
  --midLine: rgba(0, 0, 255, 0.2);
  --midWidth: 0.5px;
  --size: 5mm;
  --mouseRectBg: rgba(49, 103, 111, 0.2);

  --elementListColor: #3d3d3d;
  /* rightMenu */
  --borderColor: #bdc3c7;
  --rightMenuBg: #ebebeb;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  padding: 15px;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

/* hiprint-pagination */
.PrintPagination {
  white-space: nowrap;
  width: 100%;
  overflow-y: auto;
}
.PrintPagination .hiprint-pagination li:last-child {
  position: sticky;
  right: 5px;
  top: 0px;
  background: var(--bgColor);
  z-index: 3;
}
.PrintPagination .hiprint-pagination li:last-child::before {
  content: "";
  width: 4px;
  height: 28px;
  background: var(--bgColor);
  position: absolute;
  top: -2px;
  left: -5px;
  z-index: 2;
}
.PrintPagination .hiprint-pagination li:last-child::after {
  content: "";
  width: 6px;
  height: 28px;
  background: var(--bgColor);
  position: absolute;
  top: -2px;
  right: -7px;
  z-index: 2;
}
.hiprint-pagination {
  display: inline-block;
  padding-left: 0;
  margin: 0;
}

.hiprint-pagination > li {
  border: 1px solid #bdc3c7;
  border-radius: 2px;
  display: inline-block;
  text-decoration: none;
  margin: 0 5px 4px 0;
  font-family: helvetica;
  cursor: pointer;
  font-size: 12px;
  line-height: 24px;
  height: 24px;
  user-select: none;
  vertical-align: middle;
}
.hiprint-pagination > li.selected {
  border-color: var(--primary);
}

.hiprint-pagination > li > span {
  padding: 0 10px 0 10px;
  color: #606266;
}

.hiprint-pagination > li > a {
  color: #bdc3c7;
  text-decoration: none;
  font-size: 14px;
  padding-right: 6px;
  display: inline-block;
  height: 14px;
}

.hiprint-pagination > li > a:hover {
  color: red;
}

.hiprint-pagination-sm > li > a {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}

/*rect-printElement-type hiprint-printElement-type */
.rect-printElement-types .hiprint-printElement-type {
  display: block;
  padding: 0 0 0 0;
  list-style: none;
  font-size: 16px;
}

.rect-printElement-types .hiprint-printElement-type > li > .title {
  display: block;
  padding: 4px 0px;
  clear: both;
  color: var(--primary);
}

.rect-printElement-types .hiprint-printElement-type > li > ul {
  padding: 0 0 0 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.rect-printElement-types .hiprint-printElement-type > li > ul > li {
  width: 100%;
  margin: 4px 4px;
  box-sizing: border-box;
}

.rect-printElement-types .hiprint-printElement-type > li > ul > li > a {
  display: flex;
  align-items: center;
  line-height: 30px;
  padding: 4px 4px 4px 10px;
  color: var(--sliderColor);
  text-decoration: none;
  background: var(--bgColor);
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 14px;
  box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.4);
}

.small-printElement-types .hiprint-printElement-type {
  display: block;
  padding: 0 0 0 0;
  list-style: none;
}

.small-printElement-types .hiprint-printElement-type > li > .title {
  display: block;
  padding: 4px 0px;
  clear: both;
}

.small-printElement-types .hiprint-printElement-type > li > ul {
  padding: 0 0 0 0;
  display: block;
  list-style: none;
  width: 100%;
}

.small-printElement-types .hiprint-printElement-type > li > ul > li {
  display: block;
  width: 50%;
  float: left;
  padding: 0 4px;
}

.small-printElement-types .hiprint-printElement-type > li > ul > li > a {
  height: 22px;
  /* padding: 12px 6px; */
  /* margin-left: -1px; */
  line-height: 20px;
  color: #337ab7;
  text-decoration: none;
  background: var(--bgColor);
  border: 1px solid #ddd;
  margin-right: 5px;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 7px;
  box-sizing: border-box;
  color: #b9a5a6;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
}

/* hiprint-toolbar*/

.hiprint-toolbar > ul {
  padding: 0px;
  margin-bottom: 0px;
}

.hiprint-toolbar > ul > li {
  display: inline-block;
}

.hiprint-toolbar > ul > li > a {
  position: relative;
  float: left;
  padding: 4px 10px;
  line-height: 16px;
  color: #337ab7;
  text-decoration: none;
  background: var(--bgColor);
  border: 1px solid #ddd;
  margin-right: 4px;
  cursor: pointer;
  font-size: 14px;
}

.hiprint-printElement-type .glyphicon-class {
  display: block;
  text-align: center;
  word-wrap: break-word;
  /*font-size: 0.65rem;
font-weight: normal;*/
  font-family: Helvetica, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
}

.hiprint-printElement-type .glyphicon {
  margin-right: 5px;
  font-size: 14px;
}

/*option css*/
.hiprint-option-items {
  font-size: 0.75rem;
  padding: 10px 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  box-sizing: border-box;
  width: 100%;
}

.hiprint-option-items .hiprint-option-item {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 5px;
  padding: 0 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.hiprint-option-items .hiprint-option-item-row {
  width: 100%;
  display: flex;
  justify-content: center;
}
.hiprint-option-items .hiprint-option-item-row.vert {
  flex-direction: column;
  align-items: flex-start;
}
.hiprint-option-items .hiprint-option-item-row.vert .hiprint-option-item-label {
  text-align: left;
}

/* 处理存在子元素的情况 */
.hiprint-option-item-row:has(> .hiprint-option-item) {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hiprint-option-item-label {
  margin: 3px 5px 3px 0;
  min-width: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
}

.hiprint-option-item-field {
  flex: 1;
  width: 100%;
}
.hiprint-option-item-field input,
.hiprint-option-item-field select,
.hiprint-option-item-field textarea {
  outline-color: var(--primary);
}

.hiprint-option-items .hiprint-option-item-field input,
.hiprint-option-items .hiprint-option-item-field select,
.hiprint-option-items .hiprint-option-item-field textarea {
  color: inherit;
  background-color: transparent;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  padding: 3px;
  z-index: 1;
  border: 1px solid rgb(169, 169, 169);
  height: 19pt;
}

.hiprint-option-item-settingBtn {
  height: 19pt;
  line-height: 19pt;
  font-size: 12px;
  padding: 0 24px;
  background: #00c1de;
  color: #fff;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid transparent;
  font-family: PingFangSC, helvetica neue, hiragino sans gb, arial, microsoft yahei ui, microsoft yahei, simsun, "sans-serif";
  vertical-align: middle;
}
.hiprint-option-item-settingBtn:active {
  opacity: 0.6;
}

.hiprint-option-item-deleteBtn {
  background: red;
}

.hiprint-option-items .minicolors {
  position: relative;
}

.hiprint-option-items .minicolors-sprite {
  background-image: url(../image/jquery.minicolors.png);
}

.hiprint-option-items .minicolors-swatch {
  position: absolute;
  vertical-align: middle;
  background-position: -80px 0;
  cursor: text;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.hiprint-option-items .minicolors-swatch-color {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hiprint-option-items .minicolors input[type="hidden"] + .minicolors-swatch {
  width: 28px;
  position: static;
  cursor: pointer;
}

.hiprint-option-items .minicolors input[type="hidden"][disabled] + .minicolors-swatch {
  cursor: default;
}

/* Panel */
.hiprint-option-items .minicolors-panel {
  position: absolute;
  width: 173px;
  background: white;
  border: solid 1px #ccc;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 999;
  box-sizing: content-box;
  display: none;
}

.hiprint-option-items .minicolors-panel.minicolors-visible {
  display: block;
}

/* Panel positioning */
.hiprint-option-items .minicolors-position-top .minicolors-panel {
  top: -154px;
}

.hiprint-option-items .minicolors-position-right .minicolors-panel {
  right: 0;
}

.hiprint-option-items .minicolors-position-bottom .minicolors-panel {
  top: auto;
}

.hiprint-option-items .minicolors-position-left .minicolors-panel {
  left: 0;
}

.hiprint-option-items .minicolors-with-opacity .minicolors-panel {
  width: 194px;
}

.hiprint-option-items .minicolors .minicolors-grid {
  position: relative;
  top: 1px;
  left: 1px;
  width: 150px;
  height: 150px;
  margin-bottom: 2px;
  background-position: -120px 0;
  cursor: crosshair;
}

.hiprint-option-items .minicolors .minicolors-grid-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
}

.hiprint-option-items .minicolors-slider-saturation .minicolors-grid {
  background-position: -420px 0;
}

.hiprint-option-items .minicolors-slider-saturation .minicolors-grid-inner {
  background-position: -270px 0;
  background-image: inherit;
}

.hiprint-option-items .minicolors-slider-brightness .minicolors-grid {
  background-position: -570px 0;
}

.hiprint-option-items .minicolors-slider-brightness .minicolors-grid-inner {
  background-color: #000;
}

.hiprint-option-items .minicolors-slider-wheel .minicolors-grid {
  background-position: -720px 0;
}

.hiprint-option-items .minicolors-slider,
.hiprint-option-items .minicolors-opacity-slider {
  position: absolute;
  top: 1px;
  left: 152px;
  width: 20px;
  height: 150px;
  background-color: white;
  background-position: 0 0;
  cursor: row-resize;
}

.hiprint-option-items .minicolors-slider-saturation .minicolors-slider {
  background-position: -60px 0;
}

.hiprint-option-items .minicolors-slider-brightness .minicolors-slider {
  background-position: -20px 0;
}

.hiprint-option-items .minicolors-slider-wheel .minicolors-slider {
  background-position: -20px 0;
}

.hiprint-option-items .minicolors-opacity-slider {
  left: 173px;
  background-position: -40px 0;
  display: none;
}

.hiprint-option-items .minicolors-with-opacity .minicolors-opacity-slider {
  display: block;
}

/* Pickers */
.hiprint-option-items .minicolors-grid .minicolors-picker {
  position: absolute;
  top: 70px;
  left: 70px;
  width: 12px;
  height: 12px;
  border: solid 1px #000;
  border-radius: 10px;
  margin-top: -6px;
  margin-left: -6px;
  background: none;
}

.hiprint-option-items .minicolors-grid .minicolors-picker > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  border: solid 2px white;
  box-sizing: content-box;
}

.hiprint-option-items .minicolors-picker {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 2px;
  background: white;
  border: solid 1px #000;
  margin-top: -2px;
  box-sizing: content-box;
}

/* Swatches */
.hiprint-option-items .minicolors-swatches,
.hiprint-option-items .minicolors-swatches li {
  margin: 5px 0 3px 5px;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.hiprint-option-items .minicolors-swatches .minicolors-swatch {
  position: relative;
  float: left;
  cursor: pointer;
  margin: 0 4px 0 0;
}

.hiprint-option-items .minicolors-with-opacity .minicolors-swatches .minicolors-swatch {
  margin-right: 7px;
}

.hiprint-option-items .minicolors-swatch.selected {
  border-color: #000;
}

/* Inline controls */
.hiprint-option-items .minicolors-inline {
  display: inline-block;
}

.hiprint-option-items .minicolors-inline .minicolors-input {
  display: none !important;
}

.hiprint-option-items .minicolors-inline .minicolors-panel {
  position: relative;
  top: auto;
  left: auto;
  box-shadow: none;
  z-index: auto;
  display: inline-block;
}

/* Bootstrap theme */
.hiprint-option-items .minicolors-theme-bootstrap .minicolors-swatch {
  z-index: 2;
  top: 3px;
  left: 3px;
  width: 17px;
  height: 17px;
}

.hiprint-option-items .minicolors-theme-bootstrap .minicolors-swatches .minicolors-swatch {
  margin-bottom: 2px;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}

.hiprint-option-items .minicolors-theme-bootstrap .minicolors-swatch-color {
  border-radius: inherit;
}

.hiprint-option-items .minicolors-theme-bootstrap.minicolors-position-right > .minicolors-swatch {
  left: auto;
  right: 3px;
}

.hiprint-option-items .minicolors-theme-bootstrap .minicolors-input {
  float: none;
  padding-left: 23px;
}

.hiprint-option-items .minicolors-theme-bootstrap.minicolors-position-right .minicolors-input {
  padding-right: 44px;
  padding-left: 12px;
}

.hiprint-option-items .minicolors-theme-bootstrap .minicolors-input.input-lg + .minicolors-swatch {
  top: 4px;
  left: 4px;
  width: 37px;
  height: 37px;
  border-radius: 5px;
}

.hiprint-option-items .minicolors-theme-bootstrap .minicolors-input.input-sm + .minicolors-swatch {
  width: 24px;
  height: 24px;
}

.hiprint-option-items .minicolors-theme-bootstrap .minicolors-input.input-xs + .minicolors-swatch {
  width: 18px;
  height: 18px;
}

.hiprint-option-items .input-group .minicolors-theme-bootstrap:not(:first-child) .minicolors-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.hitable .selected {
  background: var(--primary);
}

/*resizer*/
.hitable tr.resizerRow,
.hitable .resizerRow td {
  border: 0pt dashed;
  height: 0pt;
  background: var(--bgColor);
}

.hitable tr.resizerRow + tr,
.hitable tr.resizerRow + tr td {
  border-top: 0px !important;
}

.hitable td.resizerColumn {
  border: 0pt dashed;
  width: 0.000001px !important;
  background: var(--bgColor);
}

.hitable td.resizerColumn + td {
  border-left: 0px !important;
}

/*GRIP*/

.columngrips {
  height: 0px;
  position: absolute;
}

.columngrip {
  margin-left: -5px;
  position: absolute;
  z-index: 5;
  width: 10px;
}

.columngrip .gripResizer {
  position: absolute;
  filter: alpha(opacity=1);
  opacity: 0;
  width: 10px;
  height: 100%;
  cursor: col-resize;
  top: 0px;
}

.columngripDraging {
  border-left: 1px dotted #000;
}

.rowgrips {
  height: 0px;
  width: 0px;
  position: absolute;
}

.rowgrip {
  margin-top: -5px;
  position: absolute;
  z-index: 5;
  height: 10px;
}

.rowgrip .gripResizer {
  position: absolute;
  filter: alpha(opacity=1);
  opacity: 0;
  height: 10px;
  width: 100%;
  cursor: row-resize;
  left: 0px;
}

.rowgripDraging {
  border-top: 1px dotted #000;
}

.hitable .hitable-editor-text {
  border: 1px solid;
  width: 95%;
  height: 80%;
}

.hipanel-disable {
  height: 0px;
  display: block !important;
  top: 8500px;
  width: 0px;
  overflow: hidden;
  position: absolute;
}

.hiprint_rul_wrapper {
  position: absolute;
  height: calc(100% + 16px);
  width: calc(100% + 16px);
  overflow: hidden;
  pointer-events: none;
  border: 0;
  border-top: 1px solid rgb(201, 190, 190);
  border-left: 1px solid rgb(201, 190, 190);
  padding-left: 15px;
  margin: -16px;
}

.hiprint_rul_wrapper .h_img {
  position: absolute;
  top: 0px;
  left: 15px;
  width: 400mm;
  height: 15px;
}

.hiprint_rul_wrapper .v_img {
  width: 400mm;
  transform: rotate(90deg);
  transform-origin: 0 100%;
  height: 15px;
  position: absolute;
  top: 0px;
  left: 0px;
}

/*hiprint-option-table*/

.hiprint-option-table-selected-columns {
  color: inherit;
  background-color: transparent;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  padding: 0px;
  list-style: none;
}

.hiprint-option-table-selected-columns .hiprint-option-table-selected-item {
  color: inherit;
  background-color: transparent;
  box-sizing: border-box;
  width: 100%;
  padding: 0 3px;
  border: 1px solid rgb(169, 169, 169);
  line-height: 19pt;
  margin: 3px 0;
}

/*hi-pretty */
.hi-pretty * {
  box-sizing: border-box;
}

.hi-pretty input:not([type="checkbox"]):not([type="radio"]) {
  display: none;
}

.hi-pretty {
  position: relative;
  display: inline-block;
  margin-right: 1em;
  white-space: nowrap;
  line-height: 1;
}

.hi-pretty input {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 1em;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.hi-pretty .state label {
  position: initial;
  display: inline-block;
  font-weight: normal;
  margin: 0;
  text-indent: 1.5em;
  min-width: calc(1em + 2px);
}

.hi-pretty .state label:before,
.hi-pretty .state label:after {
  content: "";
  width: calc(1em + 2px);
  height: calc(1em + 2px);
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  border: 1px solid transparent;
  z-index: 0;
  position: absolute;
  left: 0;
  top: calc((0% - (100% - 1em)) - 8%);
  background-color: transparent;
}

.hi-pretty .state label:before {
  border-color: #bdc3c7;
}

.hi-pretty .state.p-is-hover,
.hi-pretty .state.p-is-indeterminate {
  display: none;
}

.hi-pretty.p-default.p-fill .state label:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hi-pretty.p-default .state label:after {
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}

.hi-pretty.p-default input:checked ~ .state label:after {
  background-color: #bdc3c7 !important;
}

.hi-pretty.p-default.p-thick .state label:before,
.hi-pretty.p-default.p-thick .state label:after {
  border-width: calc(1em / 7);
}

.hi-pretty.p-default.p-thick .state label:after {
  -webkit-transform: scale(0.4) !important;
  -ms-transform: scale(0.4) !important;
  transform: scale(0.4) !important;
}

.print-designer {
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 1px 1px #ccc;
}

.print-scroll-wrap {
  overflow: auto;
  padding: 30px;
}

.hiprint-printPaper.design.grid {
  background-image: linear-gradient(90deg, var(--gridLine) 3%, transparent 0), linear-gradient(1turn, var(--gridLine) 3%, transparent 0),
    linear-gradient(
      90deg,
      transparent calc(50% - var(--midWidth)),
      var(--midLine) calc(50% - var(--midWidth)),
      var(--midLine) calc(50% + var(--midWidth)),
      transparent calc(50% + var(--midWidth))
    ),
    linear-gradient(
      180deg,
      transparent calc(50% - var(--midWidth)),
      var(--midLine) calc(50% - var(--midWidth)),
      var(--midLine) calc(50% + var(--midWidth)),
      transparent calc(50% + var(--midWidth))
    );

  background-size: var(--size) var(--size), var(--size) var(--size), 100% 100%, 100% 100%;
  background-position: 0 0;
  background-repeat: repeat;
}

.prevViewDiv {
  color: #000;
  padding: 10px;
  width: fit-content;
}
.prevViewDiv .hiprint-printPaper {
  margin: 0 auto 10px;
  box-shadow: 0 0 1px 1px #03a9f4;
}

.printViewArea .prviewTitle {
  background-color: #ececec;
  color: var(--primary);
  padding: 4px 10px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.printViewArea .hiprint-printPaper {
  zoom: 0.69;
}

/* 元素双击编辑 */
.design .editing {
  border: 1px solid red !important;
}

.hiprint-printElement:not(.editing):hover .resize-panel {
  display: block !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.hiprint-printElement:hover .resize-panel .resizebtn {
  display: none;
}

.hiprint-printElement:hover .resize-panel.selected .resizebtn {
  display: block;
}

.hiprint-printElement.design .selected {
  z-index: 11;
}

.hiprint-mouseRect {
  z-index: 999;
  position: absolute;
  border: 1px dashed var(--primary);
  background-color: var(--mouseRectBg);
}

/* 元素宽高 */
.resize-panel .size-box {
  border: 1px solid;
  min-height: 19px;
  padding: 0px 4px;
  background: red;
  color: white;
  font-size: 12px;
  border-radius: 6px 6px 0 0;
  white-space: nowrap;
  line-height: normal;
  font-family: unset;
  letter-spacing: normal;
  z-index: 9;
}

.hiprint-printElement.design .del-btn {
  position: absolute;
  visibility: hidden;
  z-index: 10;
  width: 16px;
  height: 16px;
  line-height: 12px;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  padding: 2px;
  background: red;
  color: white;
  font-size: 12px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
}

/** hover遮罩可点击穿透 */
.hiprint-printElement-echarts .resize-panel,
.hiprint-printElement-canvas .resize-panel,
.hiprint-printElement-link .resize-panel {
  pointer-events: none;
}

/** 拖拽点及删除按钮 保留鼠标事件 */
.hiprint-printElement-echarts .resize-panel *,
.hiprint-printElement-canvas .resize-panel *,
.hiprint-printElement-link .resize-panel * {
  pointer-events: auto;
}

.hiprint-printElement.design:hover .del-btn {
  visibility: visible;
}

.hailen-img,
.hailen-canvas {
  box-shadow: 0 0 1px 1px #ddd inset;
}

.resize-panel .size-box .hide {
  display: none;
}

/** ============================= 元素层级 ============================= */
#ElementLayer {
  position: absolute;
  top: 35px;
  right: 10px;
  width: 50px;
  max-height: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  z-index: 1000;
  border: none;
  overflow: hidden;
  background: transparent;
  transition: width 0.3s, max-height 0.3s;
}
#ElementLayer.no-transition {
  transition: none;
}

#ElementLayer .layer-head {
  width: 36px;
  height: 36px;
  cursor: pointer;
  line-height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  background: var(--primary);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  font-size: 14px;
  transition: width 0.3s;
}

#ElementLayer .layer-head .start {
  font-size: 20px;
}
#ElementLayer .layer-head .title {
  display: none;
}
#ElementLayer .layer-body {
  flex: 1;
  overflow-y: auto;
  display: none;
  transition: all 0.3s;
}

#ElementLayer.show {
  width: 245px;
  max-height: 90%;
  background: var(--bgColor);
  border: 1px solid var(--primary);
}

#ElementLayer.show .layer-head {
  width: 100%;
  height: auto;
  padding: 3px 5px;
  cursor: move;
  justify-content: space-between;
  border-radius: 0px;
}
#ElementLayer.show .layer-head .title {
  display: block;
  color: #fff;
  font-size: 14px;
  cursor: move;
  white-space: nowrap;
  transition: all 0.3s;
}
#ElementLayer.show .layer-head .start {
  cursor: pointer;
  font-size: 14px;
  margin-left: auto;
}
#ElementLayer .layer-head .start.is-open {
  transform: rotate(180deg);
}

#ElementLayer.show .layer-body {
  display: block;
}

/* 元素列表项 */
.layer-body .layer-item {
  color: var(--elementListColor);
  display: flex;
  overflow: hidden;
  align-items: center;
  padding-right: 5px;
  font-size: 14px;
}
.layer-body .layer-item.active {
  background: #90ff98;
}
.layer-body .layer-item:not(:last-child) {
  box-shadow: 0px 1px 0px 0px #1e80ff81;
}

.layer-body .layer-item .content {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.layer-body .layer-item .type {
  color: #43355d;
  background: #a6daff;
  padding: 0 2px;
  line-height: 15px;
  border-radius: 2px;
}
.layer-body .layer-item .field {
  color: #43355d;
  background: #ffd482;
  padding: 0 2px;
  line-height: 15px;
  border-radius: 2px;
  margin: 0 2px;
}
.layer-body .layer-item .drag {
  margin-left: 2px;
  margin-right: 5px;
  color: #bbb;
}
.layer-body .layer-item .glyphicon {
  margin-right: 4px;
}

.layer-body .layer-item .drag.disabled {
  color: #f60;
}
.layer-body .layer-item .icon {
  color: var(--sliderColor);
  margin-left: 5px;
}
.layer-body .layer-item .option {
  color: var(--primary);
  cursor: pointer;
}
.layer-body .layer-item .option:hover {
  color: #f60;
}

/** option属性代码块 */
.hailen-code {
  position: fixed;
  background: #d2d2ff;
  border-radius: 5px;
  padding: 8px 10px;
  z-index: 555;
  display: none;
}
.hailen-code pre {
  max-width: 260px;
  max-height: 345px;
  overflow: auto;
  white-space: pre-wrap;
}

.hailen-code .closed {
  position: absolute;
  right: 5px;
  top: -2px;
  cursor: pointer;
  user-select: none;
}
.hailen-code .closed:hover {
  color: #f00;
}

.layer-body .layer-item .delete {
  color: #f00;
  cursor: pointer;
  user-select: none;
  transition: transform 0.3s;
}
.layer-body .layer-item .delete:hover {
  color: #00f;
}

.layer-body::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.layer-body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
}

/** ============================= 选区右键菜单 ============================= */
.right-menu {
  position: absolute;
  z-index: 2000;
  background: var(--bgColor);
  border-radius: 5px;
  border: 1px solid var(--borderColor);
}
.right-menu .menu-item {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  color: var(--color);
  white-space: nowrap;
  line-height: 1.3em;
  user-select: none;
  display: flex;
  align-items: center;
}
.right-menu .name {
  vertical-align: text-bottom;
}
.right-menu .divider {
  height: 0px;
  margin: 2px 0;
  border-bottom: 1px solid var(--borderColor);
}

.right-menu .menu-item:hover,
.right-menu .menu-item.active {
  background: var(--rightMenuBg);
}
